*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(32, 29, 29);
    padding: 20px;
    display: flex;
    gap: 50px;
    align-items: start;
    flex-wrap: wrap;;
    overflow: auto;
}

#main .card{
    width: 300px;
    background-color: white;
    text-align: center;
    border-radius: 50px;
    box-shadow: 2px 2px 30px rgb(0, 160, 157);
    
}
.card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 50%;
}
.card h3{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.card p{
    padding: 20px 40px;
    
    opacity: 0.9;
    
}
