@font-face {
  font-family: "hello";
  src: url("./rustic-roadway-personal-use/RusticRoadway.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "hello"; 
}

main {
  width: 100%;
  height: 100%;
  background-color: black;
}

main .element{
  width: 100%;
  height: 150px;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}
.element h1{
  text-transform: capitalize;
  padding-right: 18px;
  font-size: 50px;
  mix-blend-mode: difference;
  z-index: 1;
}

.element img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all linear 0.2s;
  /* transform: translate(-50%,-50%); */
}


@media (max-width:600px){
  main{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  main .element{
    width: 100%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  main .element img{
    width: 50px;
    height: 50px;
    
  }
  main .element h1{
    font-size: 20px;
    padding-left: 10px;
  }

}

@media (max-width:450px){
  main{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  main .element{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  main .element img{
    width: 70px;
    height: 70px;
    
  }
  main .element h1{
    font-size: 20px;
    padding-left: 10px;
  }

}