@font-face {
    font-family: "blood";
    src: url("/fonts/blood-hunter/Blood\ Hunter\ TTF\ Demo.ttf");
}
@font-face {
    font-family: "cursive11";
    src: url("/fonts/old-figaro-cursive/Old\ Figaro\ Cursive.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
h1{
    font-family: cursive11;
    font-size: 30px;
    font-weight: 200;
}
button {
    padding: 10px 15px;
    background-color: crimson;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}
button:active{
    scale: 0.95;
}
button:hover {
    background-color: lightseagreen;

}