* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  anchor-name: --some-anchor;
}

.box {
  width: 200px;
  height: 200px;
}

.box:hover {
  anchor-name: --some-anchor;
}

.red {
  background-color: rgb(200, 27, 27);
}

.blue {
  background-color: rgb(31, 31, 132);
}

.green {
  background-color: rgb(30, 133, 45);
}

.anchor {
  background-color: white;
  position: absolute;
  border-radius: 10px;
  top: anchor(top);
  left: anchor(left);
  right: anchor(right);
  bottom: anchor(bottom);
  transition: all linear 0.3s;
  position-anchor: --some-anchor;
  mix-blend-mode: difference;
  pointer-events: none;
  
}